/* GLOBALES */
img,
picture {
    width: 100%;
    display: block;
}


@media (max-width: 480px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }   
}

body {
    background-color: aliceblue;
    font-family: "Mulish", sans-serif;
}

/* ENCABEZADO1 */
.navegacion-responsive {
    text-align: center;
}


/* PAGINA PRODUCTOS */
main .container {
    padding: 30px 0;
}

.btn-outline-info:hover .icono-carrito {
    stroke: white;
}

/* PAGINA DETALLES */
.precio-original {
    margin-bottom: 0;
}

.detalles {
    background-color: rgb(235, 241, 247);
    border-radius: 0.5rem;
    padding: 10px;
    padding-bottom: 15px;
}

.detalles h2 {
padding-top: 10px;
}

/* PAGINA CARRITO */

/* PAGINA REGISTRO */
.contenedor {
    max-width: 1000px;
    margin: 0 auto;
}
@media (max-width: 480px) {
    .contenedor {
        max-width: 90%;
        margin: 0 auto;
    }   
}
@media (max-width: 768px) {
    .contenedor {
        max-width: 90%;
        margin: 0 auto;
    }
}

.contenedor form {
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}