/* GLOBALES */
img,
picture {
    width: 100%;
    display: block;
}


@media (max-width: 480px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }   
}

body {
    background-color: aliceblue;
    font-family: "Mulish", sans-serif;
}

body {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
        background-repeat: no-repeat;
}

/* ENCABEZADO1 */
.navegacion-responsive {
    text-align: center;
}


/* PAGINA PRODUCTOS */
main .container {
    padding: 30px 0;
}

.card-img-top {
    width: auto; /* Establecer el ancho automático */
    height: 250px; /* Establecer la altura */
    object-fit: cover; /* Ajustar la imagen manteniendo la relación de aspecto, cubriendo el contenedor */
}


.btn-outline-info:hover .icono-carrito {
    stroke: white;
}

/* PAGINA DETALLES */
.precio-original {
    margin-bottom: 0;
}

.detalles {
    background-color: rgb(235, 241, 247);
    border-radius: 0.5rem;
    padding: 10px;
    padding-bottom: 15px;
}

.detalles h2 {
padding-top: 10px;
}

/* PAGINA CARRITO */

/* PAGINA REGISTRO */
.contenedor {
    max-width: 1000px;
    margin: 0 auto;
}
@media (max-width: 480px) {
    .contenedor {
        max-width: 90%;
        margin: 0 auto;
    }   
}
@media (max-width: 768px) {
    .contenedor {
        max-width: 90%;
        margin: 0 auto;
    }
}

.contenedor form {
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

/* LOGIN */


/* PAGINA ADMIN */
.imagen-admin {
    display: block;
    padding: 10px 0;
}

@media (min-width: 992px) {
    .imagen-admin {
        width: 1000px;
        display: block;
        padding: 10px 0;
    }
}
